.manage-client-div{
  padding-left: 30px;
  font-weight: 500;
}
.second-heading-div{
  padding-left: 30px;
  padding-top: 10px;
}
.client-name-header{
  font-weight: 100;
}
.Amazon-header{
  font-weight: 600;
}
.workflow-header{
  padding-left: 30px;
  padding-top: 10px;
}
.contacts-header{
  padding-left: 30px;
}
.manage-client-progress{
  height: 5px;
}
.can-save-buttons-div{
  padding-top: 300px;
  padding-left: 110px;
}
.cancel-button{
  border-radius: 15px;
  height: 30px;
  width: 80px;
  font-size: small;
}
.save-button{
  margin-left: 5px;
  background-color: #a81e30;
  border-radius: 15px;
  height: 30px;
  width: 80px;
  font-size: small;
  color: white;
}
