<div class="container" style="height: 100vh; background-color: #f9f9f9">
  <div class="row container">
    <div class="col-md-8">
      <div class="pannel">
        <div class="pannel-heading">
          <h1>Users</h1>
        </div>
        <div class="pannel-body table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr style="background-color: #f0f0f0">
                <th>Name</th>
                <th>Role</th>
                <th>Onboarded on</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr style="background-color: #ffffff">
                <td>Annie stewart</td>
                <td>Super admin</td>
                <td>Dec 04, 2021</td>
                <td>annie.stewart</td>
                <td>9876543210</td>
                <td>
                  <p
                    style="
                      background-color: #ecf8ff;
                      text-align: center;
                      color: #6193c4;
                    "
                  >
                    Onboarded
                  </p>
                </td>
                <td>
                  <button class="btn btn-outline-success block-button">
                    Block
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="button" style="padding-top: 10px">
        <button class="add-user-btn">Add user</button>
      </div>
      <div class="card" style="margin-top: 12px; background-color: #ffffff">
        <div style="margin-left: 10px">
          <h2>User count</h2>
        </div>
        <div class="first-progress-main-div">
          <p class="tasks-active">Active</p>
          <p class="paragraph-1">0</p>
        </div>
        <div class="first-progress-div">
          <div
            class="progress first-progress"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="first-progress-main-div">
          <p class="tasks-active">Idel</p>
          <p class="paragraph-1">0</p>
        </div>
        <div class="first-progress-div">
          <div
            class="progress first-progress"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="first-progress-main-div">
          <p class="tasks-active">Blocked</p>
          <p class="paragraph-1">0</p>
        </div>
        <div class="first-progress-div">
          <div
            class="progress first-progress"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="first-progress-main-div">
          <p class="tasks-active">Total</p>
          <p class="paragraph-1">0</p>
        </div>
      </div>
      <div class="card" style="margin-top: 12px; background-color: #ffffff">
        <div style="display: flex;">
          <div style="margin-left: 10px;margin-top: 12px;">
            <h2>Onboarded</h2>
          </div>
          <div class="timing-div">
            <p class="show-tag">Show:</p>
            <p class="thismonth-tag">Thismonth</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div style="margin-top: 10px;margin-left: 60px;">
              <div class="circle circle-progress-div">
                <h1 style="font-size: 40px;font-weight: 600;">0</h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="lghg">
              <p class="active">
                <img src="../assets/images/Ellipse 1.png" /> Manager
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 1.png" /> Crowd
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 1.png" /> Data analyst
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 2.png" /> SME
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 3.png" /> QA
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 4.png" /> Blocked
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
